<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53771576792-o0i4q2cbik1jfdkbv5dl0dpemclitsr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53771576792-o0i4q2cbik1jfdkbv5dl0dpemclitsr0</string>
	<key>API_KEY</key>
	<string>AIzaSyAVUqOoKlD9IngEFAS_2NJJj2lGkBUM7kY</string>
	<key>GCM_SENDER_ID</key>
	<string>53771576792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tugasAkhir</string>
	<key>PROJECT_ID</key>
	<string>finalprojectflutter-a655c</string>
	<key>STORAGE_BUCKET</key>
	<string>finalprojectflutter-a655c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53771576792:ios:762148d3d4dfa7dfea3ead</string>
</dict>
</plist>